/*-- scss:defaults --*/

$link-color: #42affa;

$font-family-sans-serif: BC Sans;

$presentation-font-size-root: 30px;
$presentation-h1-font-size: 	2.5em;
$presentation-h2-font-size: 1.6em;

/*-- scss:rules --*/

.reveal h2 {
  padding: 10px 0px 80px 20px;
}
